html,
body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; /* Asegura que el mapa ocupe toda la altura */
    width: 100vw;  /* Asegura que el mapa ocupe todo el ancho */
    z-index: 1;
    transition: width 0.3s ease-in-out;
}

#map.fullscreen {
    width: 100vw; /* Ocupa todo el ancho cuando el sidebar está oculto */
}

#sidebar {
    position: absolute; /* Sidebar posicionado absoluto */
    right: 0;
    top: 0;
    width: 20vw;
    height: 100vh; /* Sidebar tiene la altura completa */
    background: linear-gradient(to bottom, rgb(117, 117, 117), rgb(247, 240, 240));
    z-index: 100; /* Está por encima del mapa */
    padding: 10px; /* Añadir padding general dentro del sidebar */
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    box-sizing: border-box;
}

#sidebar.hidden {
    transform: translateX(100%); /* Desplaza el sidebar fuera de la pantalla */
}

#show-sidebar-btn {
    position: absolute;
    right: 20px; /* Separado 20px del borde derecho */
    top: 50%; /* Colocar el botón a la mitad verticalmente */
    transform: translateY(-50%); /* Ajustar para que quede realmente centrado */
    padding: 0.8vw;
    font-size: 1.2vw;
    margin-top: 1vw;
    border: 1px solid #000000;
    border-radius: 7px;
    background-color: #525e96;
    color: white;
    cursor: pointer;
    display: none;
    z-index: 101;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para un efecto flotante */
    
}

#show-sidebar-btn.visible {
    display: block;
}

#map.fullscreen {
    width: 100vw; /* Ocupa todo el ancho cuando el sidebar está oculto */
}

#sidebar img {
    width: 10vw;
    margin-bottom: 1vw;
}

#sidebar h1 {
    font-size: 2vw;
    margin: 0 0 1vw;
    color: #d8d8d8;
}
#sidebar p,
#sidebar-label {
    padding: 0.8vw;
    font-size: 1.5vw;
    margin-top: 0.5vw;
    color: #141414;
    border-radius: 7px;
    width: 100%;
}

#dni-input {
    margin-top: 0.5vw;
    font-size: 1vw;
    padding: 0.8vw;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 7px;
}

#search-agreements {
    padding: 0.8vw;
    font-size: 1.2vw;
    background-color: #525e96;
    color: white;
    border: 1px solid #000000;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 1vw;
    width: 100%;
}

#search-agreements:hover {
    background-color: #b49ea0;
}

#agreements-dropdown {
    margin-top: 0.5vw;
    font-size: 1vw;
    padding: 0.8vw;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 7px;
}

#show-itinerary {
    padding: 0.8vw;
    font-size: 1.2vw;
    background-color: #525e96;
    color: white;
    border: 1px solid #000000;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 1vw;
    width: 100%;
}

#show-itinerary:hover {
    background-color: #b49ea0;
}

#logout-button {
    padding: 0.8vw;
    font-size: 1.2vw;
    background-color: #525e96;
    color: white;
    border: 1px solid #000000;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 1vw;
    width: 100%;
}

#logout-button:hover {
    background-color: #b49ea0;
}